body {
    padding: 20px;
    background-color: #f8f9fa;
}

.api-section {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.api-block {
    background-color: #f1f3f5;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    word-break: break-word;
}

.token-text {
    flex-grow: 1;
    margin-right: 10px;
    overflow-wrap: anywhere;
}

h2 {
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 20px;
}

/* 헤더 스타일 */
.header {
    width: 100%;
    background-color: rgb(123, 184, 6);
    padding: 0.5rem 1rem; /* px-3 py-2 반영 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* 유연한 레이아웃 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0; /* mb-0 반영 */
}

/* 유저 정보 표시 영역 */
#user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}